{% load static %}
{% load menu_tags %}
<html land='en'>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href={% static 'css/style.css' %} />
  </head>
  <body>
    {% block header %}
    <header>
      {% get_head_menu %} 
    </header>
    {% endblock header %}

    <main>
      <div class='side_bar'>
        {% get_side_bar %}
      </div>
      {% block main %}
      <div class='wrapper_block_book'>
      {% for info in data %}
        <div class='block_book'>
          <div class='img_block_book'>
            <img src={{ info.img }}>
          </div>
          <div class='description_book'>
            <a href="{{ info.url }}"><h2 class='header_block_book'>{{ info.book }}</h2></a>
            <div class='price_book'>
              <div>Цена:</div>
              <div>{{ info.price }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
      {% endblock main %}
      </main>
  </body>
</html>
