*{
  padding: 0;
  margin: 0;
}

.logo{
  width: 100%;
  max-width: 100px;
}

.logo img{
  width: 100%;
}

header{
  background-color: #040104d9;
}

main{
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.side_bar{
  background-color: #7e7777;
}

.selected{
  text-transform: uppercase;
  font-family: sans-serif;
  color: #a11919d9;
}

ul.category li{
  list-style-type: none;
  padding: 10px 20px;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 25px;
}

div a{
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #0ba6b7;
}

div a:hover{
  opacity: 0.5;
}

.img_block_book img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.wrapper_block_book{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.block_book{
  padding: 50px 0;
}

.price_book{
  display: flex;
}

.price_book div{
  padding-right:20px;
}

.list_pages{
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

a.num_page{
  font-size: 16px;
  color: #ccc;
  display: block;
  padding: 20px 25px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 20px;
}

.num_page:last-child{
  margin-right: 0;
}

a.num_page:hover{
  border-color: #000; 
  color: #000;
}

a.num_page:hover{
  background-color: #dbedea;
}

.select_page{
  color: green !important;
}

.main_menu{
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.main_menu > div{
  margin-right: 20px;
}
